body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:782px;
  width:270px;
  height:40px;
  font-size:12px;
  color:#357EB9;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:250px;
  top:727px;
  width:270px;
  height:40px;
  font-size:12px;
  color:#357EB9;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:837px;
  width:270px;
  height:36px;
  font-size:14px;
  color:#357EB9;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:734px;
  width:180px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:330px;
  top:790px;
  width:180px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:0px;
  top:735px;
  width:770px;
  height:265px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:265px;
}
#u13 {
  position:absolute;
  left:2px;
  top:124px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
